.logo{
    height: auto;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.search{
   margin-top: 20px;
    text-align: right;
    font-size: large;
    float: right;
    margin-right: 30px;
    color: white;
}

ul#horizontal li{
    float: right;
    margin-top: 25px;
    margin-right: 40px;
}

ul#horizontal li a{
    color: white;
}
ul#horizontal-nav{
    text-align: left;
    background-color: #333333;
}

ul#horizontal-nav li{
    display: inline-block;
    padding: 16px;
    
}
ul#horizontal-nav li a{
    display: block;
  color: white;
    padding: 16px;
    
}

h1{
    text-align:center;
}

.product{
    height: auto;
    width: auto;
}

.product-list {
	height: auto;
	background-color: #fff;
	width: 24em;
	margin: 5em;
    border-radius: 0.5em;
    margin-right: 50px;
    margin-left: 50px;
   display: inline-block;
}

.navigation{
    display: flex;
    justify-content:  center;
    list-style-type: none;
}

.filter{
    
	background-color: #fff;
	width: 24em;
	margin: 5em;
    border-radius: 0.5em;
    display: flex;
}

h2{
    text-align:center;
}


ul#end li a{
    background-color: #333333;
    display: flex;
    color: white;
    padding: 10px;
    flex-direction: row;
    
    
}


@media screen and (min-width: 320px){
    main{
        width: 340px;
    }
}

@media screen and (min-width: 480px){
    body{
        font-size: 1.2em;
    }
    main{
        width: 440px;
    }
}

@media screen and (min-width: 639px){
    main{
        width: 600px;
        
    }
}

